@font-face {
    font-family: 'PFBagueSansPro-Regular';
    src: url('../fonts/PFBagueSansPro-Regular.eot');
    src: url('../fonts/PFBagueSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFBagueSansPro-Regular.woff2') format('woff2'),
        url('../fonts/PFBagueSansPro-Regular.woff') format('woff'),
        url('../fonts/PFBagueSansPro-Regular.svg#PFBagueSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PFBagueSansPro-Bold';
    src: url('../fonts/PFBagueSansPro-Bold.eot');
    src: url('../fonts/PFBagueSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFBagueSansPro-Bold.woff2') format('woff2'),
        url('../fonts/PFBagueSansPro-Bold.woff') format('woff'),
        url('../fonts/PFBagueSansPro-Bold.svg#PFBagueSansPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro-Light';
    src: url('../fonts/PFBagueSansPro-Light.eot');
    src: url('../fonts/PFBagueSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFBagueSansPro-Light.woff2') format('woff2'),
        url('../fonts/PFBagueSansPro-Light.woff') format('woff'),
        url('../fonts/PFBagueSansPro-Light.svg#PFBagueSansPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PFBagueSansPro-Thin';
    src: url('../fonts/PFBagueSansPro-Thin.eot');
    src: url('../fonts/PFBagueSansPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFBagueSansPro-Thin.woff2') format('woff2'),
        url('../fonts/PFBagueSansPro-Thin.woff') format('woff'),
        url('../fonts/PFBagueSansPro-Thin.svg#PFBagueSansPro-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}